html {
  height: auto;
  margin: 0;
}

body {
  font-family: 'Roboto', 'M+ PLUS 1p', 'M PLUS 1m', sans-serif;
  height: auto;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.wp-block {
  max-width: 100%;
}

.wp-block-heading {
  font-weight: bold;
  margin-bottom: 1em;
}

.wp-block-paragraph {
  margin-bottom: 1.5em;
}